.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 231, 231);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;
    }

    .items {
      display: flex;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;

        .userImg {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
    }
  }
}
