.datatable {
  height: 600px;
  padding: 20px;

  .datatableTitle {
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .createLink {
      color: rgb(0, 170, 0);
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      color: green;

      &:hover {
        background-color: rgba(0, 128, 0, 0.212);
      }
    }
    .deleteButton {
      padding: 2px 5px;
      color: crimson;
      cursor: pointer;

      &:hover {
        background-color: rgba(220, 20, 60, 0.212);
      }
    }
  }
}
